<div class="container">
<h2>Campaigns</h2>
	<ul class="list-group">
		<% @campaigns.each do |campaign| %>
	    	<li class="list-group-item">
	    		<div>
					<%= campaign.name %>
					<%= campaign.url %>
					<a href="/home/campaign?id=<%= campaign.id %>">Click here</a>
				</div>
	    	</li>
	    <% end %>
  	</ul>
</div>
