<div class="container">
	Hi <%= @new_campaign_user.name %> your referral url is : 
	<a href="/home/referral_url/?token=<%= @new_campaign_user.token %>" class="data-no-turbolink">/home/referral_url/?token=<%= @new_campaign_user.token %></a>
</div>